<div class="container">
    <h1 class="text-center txthead">Your Saved News</h1>
    {{#if article}} {{#each article}}
    <div class="card displayarticle">
        <div class="card-block">
            <h4 class="card-title">{{this.title}}</h4>
            <div class="row">
                <div class="col-md-6">
                    <p><a href="{{this.link}}" target="_blank">See Full Article</a></p>
                </div>
                <div class="col-md-6">
                    <a href="/delete/{{this.id}}" class="float-right btn btn-danger">Delete</a>
                    <button type="button" data-toggle="modal" data-target="#myModal" class="float-right btn btn-primary newNote" data-value="{{this.id}}">Add a Note</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}{{else}}
    <div class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong> You haven't saved any articles yet!
    </div>
    {{/if}}


    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Notes</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <p class="oldNotes">Current Note:</p>
                    </div>
                    <form class="newForm">
                        <div class="form-group">
                            <label for="exampleTextarea">Add Your Comment</label>
                            <textarea class="form-control" id="bodyInput" rows="3"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>